/* about.css */
@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  
}


.about-container {
  display: flex;
  justify-content: space-between; /* Arrange content in a row with space between them */
  align-items: flex-start;
  height: 100vh;
}

.content-left {
  flex: 1; /* Take up available space on the left */
  position: relative;
}
/* Style the container for the circular image */
.image-container {
  position: relative;
  z-index: 2;
  width: 200px; /* Adjust the width and height as needed */
  height: 200px;
  border: 2px solid #333; /* Add a border with your desired color */
  border-radius: 50%; /* Create a circular shape */
  overflow: hidden; /* Hide any image overflow outside the circle */
}

/* Style the circular image */
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain the image aspect ratio and cover the circle */
  transition: transform 0.3s ease-in-out; /* Add a simple animation */

  /* Add hover animation for scaling */
  &:hover {
    transform: scale(1.1); /* Increase the image size on hover */
  }
}
.background-photo {
  position: absolute; /* Set the blob image to absolute positioning */
  top: 0;
  right: 1vw;
  width: 650px;
  height: 650px;
  z-index: 1; /* Place it behind the profile picture */
  justify-content: flex-start; /* Align content to the left */
  align-items: flex-start; /* Align content to the top */
}

.greetings{
  position:absolute;
  background: none;
  z-index: 1;
  top: 45vh;
  left: 9vw;
  display: flex;
  align-items: center;
}

.greetings h1{
  position: absolute;
  color: #fff;
  background: none;
  font-weight: 900;
  font-size: 50px;
}

.text-generated{
  position:absolute;
  display: flex;
  background: none;
  align-items: center;
  z-index: 1;
  top: 55vh;
  left: 20vh;
  transform: translateY(-40%);

}

.text-generated h2{
  color: #fff;
  background: none;
  font-weight: 900;
  font-size: 40px;
}
.text-generated span{
  background: none;
  font-weight: 900;
  font-size: xx-large;
  font-size: 35px;
}
/* Stack container */
.stack-container {
  flex: 1; /* Take up available space on the right */
  padding-left: 20px; /* Add padding to separate content */
  margin-top: 10vh;
  margin-right: 30px;
  right: 40;
}

.counter-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 15px; /* Add some gap between grid items */
}

/* Center the second row (boxes 7 and onwards) */
.counter-grid .box:nth-child(n + 7) {
  align-self: center;
}

.stack-title {
  font-size: 20px;
  text-align: center;
}

.counter-grid hr {
  width: 75%;
  margin: 18px auto;
  background: #7fc142;
  height: 2px;
  border: none;
}

.box img {
  width: 55px;
  height: 55px;
}

.box {
  margin: 15px;
  transition: transform 0.3s ease; 
}

.box:hover {
  transform: scale(1.1); /* Increase the size by 10% (zoom in) */
}