
.contact-container{
/*     margin-top: 2vh;
 */ display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form{
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items:start;
    background: none;
    z-index: 1;
    margin-left: 5vw;
    margin-right:5vw;
    padding: 10px; /* Add padding for better spacing */
}
.form-title{
    display: flex;
}
.form-title img{
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background: none;
    margin-top: 12px;
}

.content-background{
    flex: 1; /* Take up available space on the left */
    position: relative;
}
.contact-background{

    width: 650px;
    height: 600px;
    z-index: 2;
    background: none;
    opacity: 0.9;
}

.input-form{
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-top: 8px;
}

.input-message {
    font-family: inherit;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Make the input take up 100% of its container width */
    text-align: left; /* Align the text to the left */
    height: auto; /* Allow the input to expand in height as needed */
    resize: vertical; /* Allow vertical resizing */
    overflow-y: auto; /* Add vertical scroll when content exceeds the height */
    min-height: 100px; /* Set a minimum height to prevent it from collapsing */
    line-height: normal; 
    margin-top: 8px;
  }
  

.submit-button{
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    border: none;
}

::placeholder {
    font-weight: 500; /* Adjust font weight as needed */
    opacity: 0.7; /* Adjust opacity as needed */
    color: #999; /* Adjust color as needed */
  }

.input-form:focus,
.input-message:focus {
    border-color: cadetblue;
    outline: none;
}

.label {
    margin-bottom: 10px;
    width: 100%;
}

.label-text {
    font-weight: 500;
    font-size: 15px;
    color: cadetblue;
}
