/* header.css */

/* Style the wave container to position the wave background */
.wave-container {
    position: relative;
    flex-wrap: wrap;
  }
  
  /* Style the navbar */
  .navbar {
    background-color: transparent; /* Make the navbar transparent */
    padding: 20px; /* Add padding as needed */
  }
  
  #menulist {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10;
  }

  #menulist li {
    margin: 0 15px; /* Adjust the spacing between navbar items */
  }
  
  #menulist li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  #menulist li a:hover {
    color: #fe6900; /* Change the color on hover */
  }

  @media screen and (max-width:600px) {
    .navbar {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding: 0px;
      margin: 0px;
    }
    #menulist li {
      margin-right: 12px;
      margin-left: 0;
    }
    
  #menulist ul {
    margin-left: 0;
  }
}