.counter {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    color: white;
  }
  
  .counter .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    gap: 15px; /* Add some gap between grid items */
  }
  
  /* Center the second row (boxes 7 and onwards) */
  .counter .grid .box:nth-child(n + 7) {
    align-self: center;
  }
  
  .counter h1 {
    font-size: 20px;
  }
  
  counter hr {
    width: 75%;
    margin: 18px auto;
    background: #7fc142;
    height: 2px;
    border: none;
  }
  
  img {
    width: 60px;
    height: 60px;
  }
  
  .box {
    margin: 15px;
    transition: transform 0.3s ease; 
  }
  
  .box:hover {
    transform: scale(1.1); /* Increase the size by 10% (zoom in) */
  }